### EDA and Feature Engineering - Flight Price Prediction

In [462]:
# Import libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.preprocessing import OneHotEncoder

In [ ]:
# Read execl file into a dataframe
df=pd.read_excel('flight_price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [464]:
df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [465]:
# Get basic info about data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [466]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [467]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [468]:
# Feature engineering for Date_of_Journey
df['Date']=df['Date_of_Journey'].str.split('/').str[0]
df['Month']=df['Date_of_Journey'].str.split('/').str[1]
df['Year']=df['Date_of_Journey'].str.split('/').str[2]

In [469]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  object
 12  Month            10683 non-null  object
 13  Year             10683 non-null  object
dtypes: int64(1), object(13)
memory usage: 1.1+ MB

In [ ]:
# Convert the date columns as int type from object
df['Date']=df['Date'].astype(int)
df['Month']=df['Month'].astype(int)
df['Year']=df['Year'].astype(int)

In [471]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  int64
 12  Month            10683 non-null  int64
 13  Year             10683 non-null  int64
dtypes: int64(4), object(10)
memory usage: 1.1+ MB

In [472]:
# Drop Date_of_Journey column
df.drop('Date_of_Journey',axis=1,inplace=True)

In [473]:
# Feature engineering for Arrival_Time
df['Arrival_Time']=df['Arrival_Time'].apply(lambda x:x.split(' ')[0])

In [ ]:
# Split hour and minute for Arrival_Time
df['Arrival_hour']=df['Arrival_Time'].str.split(':').str[0]
df['Arrival_Minute']=df['Arrival_Time'].str.split(':').str[1]

In [475]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,24,3,2019,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882,9,6,2019,04,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019,21,35

In [ ]:
# Convert Arrival_hour and Arrival_Minute columns as int type from object
df['Arrival_hour']=df['Arrival_hour'].astype(int)
df['Arrival_Minute']=df['Arrival_Minute'].astype(int)

In [477]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int64
 11  Month            10683 non-null  int64
 12  Year             10683 non-null  int64
 13  Arrival_hour     10683 non-null  int64
 14  Arrival_Minute   10683 non-null  int64
dtypes: int64(6), object(9)
memory usage: 1.2+ MB

In [478]:
# Drop Arrival_Time column
df.drop('Arrival_Time',axis=1,inplace=True)

In [479]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int64
 10  Month            10683 non-null  int64
 11  Year             10683 non-null  int64
 12  Arrival_hour     10683 non-null  int64
 13  Arrival_Minute   10683 non-null  int64
dtypes: int64(6), object(8)
memory usage: 1.1+ MB

In [480]:
# Feature engineering on Dep_Time
df['Departure_hour']=df['Dep_Time'].str.split(':').str[0]
df['Departure_minute']=df['Dep_Time'].str.split(':').str[1]

In [481]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_Minute,Departure_hour,Departure_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662,1,5,2019,13,15,05,50

In [ ]:
# Convert Departure_hour and Departure_minute columns as int type from object
df['Departure_hour']=df['Departure_hour'].astype(int)
df['Departure_minute']=df['Departure_minute'].astype(int)

In [483]:
# Drop Dep_Time column
df.drop('Dep_Time',axis=1,inplace=True)

In [484]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Route             10682 non-null  object
 4   Duration          10683 non-null  object
 5   Total_Stops       10682 non-null  object
 6   Additional_Info   10683 non-null  object
 7   Price             10683 non-null  int64
 8   Date              10683 non-null  int64
 9   Month             10683 non-null  int64
 10  Year              10683 non-null  int64
 11  Arrival_hour      10683 non-null  int64
 12  Arrival_Minute    10683 non-null  int64
 13  Departure_hour    10683 non-null  int64
 14  Departure_minute  10683 non-null  int64
dtypes: int64(8), object(7)
memory usage: 1.2+ MB

In [485]:
df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_Minute,Departure_hour,Departure_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50

In [486]:
# Feature engineering on Total_Stops
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [ ]:
# Check if Total_Stops have any null values
df['Total_Stops'].isnull().sum()

np.int64(1)

In [ ]:
# Convert stops into numerical data and replace nan with 1.
df['Total_Stops']=df['Total_Stops'].map({
    'non-stop':0,
    '1 stop':1,
    '2 stops':2,
    '3 stops':3,
    '4 stops':4,
    np.nan:1
    })

In [ ]:
# Check if Total_Stops have any null values
df['Total_Stops'].isnull().sum()

np.int64(0)

In [ ]:
# Drop Route column.
df.drop('Route',axis=1,inplace=True)

In [491]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Duration          10683 non-null  object
 4   Total_Stops       10683 non-null  int64
 5   Additional_Info   10683 non-null  object
 6   Price             10683 non-null  int64
 7   Date              10683 non-null  int64
 8   Month             10683 non-null  int64
 9   Year              10683 non-null  int64
 10  Arrival_hour      10683 non-null  int64
 11  Arrival_Minute    10683 non-null  int64
 12  Departure_hour    10683 non-null  int64
 13  Departure_minute  10683 non-null  int64
dtypes: int64(9), object(5)
memory usage: 1.1+ MB

In [492]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_Minute,Departure_hour,Departure_minute
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302,1,3,2019,21,35,16,50

In [493]:
# Feature engineering on Duration
extracted=df['Duration'].str.extract(r'(\d+)h').fillna(0).astype(int) + df['Duration'].str.extract(r'(\d+)m').fillna(0).astype(int) / 60

In [ ]:
# Change datatype to float of the 'extracted'.
df['Duration']=extracted.astype(float)

In [ ]:
# Check if Duration have any null values
df['Duration'].isnull().sum()

np.int64(0)

In [496]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Duration          10683 non-null  float64
 4   Total_Stops       10683 non-null  int64
 5   Additional_Info   10683 non-null  object
 6   Price             10683 non-null  int64
 7   Date              10683 non-null  int64
 8   Month             10683 non-null  int64
 9   Year              10683 non-null  int64
 10  Arrival_hour      10683 non-null  int64
 11  Arrival_Minute    10683 non-null  int64
 12  Departure_hour    10683 non-null  int64
 13  Departure_minute  10683 non-null  int64
dtypes: float64(1), int64(9), object(4)
memory usage: 1.1+ MB

In [497]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_Minute,Departure_hour,Departure_minute
0,IndiGo,Banglore,New Delhi,2.833333,0,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7.416667,2,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19.000000,2,No info,13882,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5.416667,1,No info,6218,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4.750000,1,No info,13302,1,3,2019,21,35,16,50

In [ ]:
# Check unique values in Airline.
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [ ]:
# Check unique values in Source.
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [ ]:
# Check unique values in Additional_Info.
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [ ]:
# Check unique values in Destination.
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [ ]:
# Creating instance for OneHotEncoding.
encoder=OneHotEncoder()

In [ ]:
# Converting into numerical data
encoder.fit_transform(df[['Airline','Source','Additional_Info','Destination']]).toarray()

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.]], shape=(10683, 33))

In [ ]:
# Converting numerical data into DataFrame
Encoded_data=pd.DataFrame(encoder.fit_transform(df[['Airline','Source','Additional_Info','Destination']]).toarray(),columns=encoder.get_feature_names_out())

In [505]:
Encoded_data

,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,...,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10679,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10680,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10682,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
# Joining the encoded DataFrame with the main DataFrame
df=pd.concat([df,Encoded_data],axis=1)
df

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,...,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,IndiGo,Banglore,New Delhi,2.833333,0,No info,3897,24,3,2019,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Air India,Kolkata,Banglore,7.416667,2,No info,7662,1,5,2019,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Jet Airways,Delhi,Cochin,19.000000,2,No info,13882,9,6,2019,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,IndiGo,Kolkata,Banglore,5.416667,1,No info,6218,12,5,2019,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,IndiGo,Banglore,New Delhi,4.750000,1,No info,13302,1,3,2019,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,2.500000,0,No info,4107,9,4,2019,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10679,Air India,Kolkata,Banglore,2.583333,0,No info,4145,27,4,2019,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10680,Jet Airways,Banglore,Delhi,3.000000,0,No info,7229,27,4,2019,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10681,Vistara,Banglore,New Delhi,2.666667,0,No info,12648,1,3,2019,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10682,Air India,Delhi,Cochin,8.333333,2,No info,11753,9,5,2019,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [507]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 47 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Airline                                       10683 non-null  object
 1   Source                                        10683 non-null  object
 2   Destination                                   10683 non-null  object
 3   Duration                                      10683 non-null  float64
 4   Total_Stops                                   10683 non-null  int64
 5   Additional_Info                               10683 non-null  object
 6   Price                                         10683 non-null  int64
 7   Date                                          10683 non-null  int64
 8   Month                                         10683 non-null  int64
 9   Year                                          10683 non-null  int64
 10  Arrival_hour                                  10683 non-null  int64
 11  Arrival_Minute                                10683 non-null  int64
 12  Departure_hour                                10683 non-null  int64
 13  Departure_minute                              10683 non-null  int64
 14  Airline_Air Asia                              10683 non-null  float64
 15  Airline_Air India                             10683 non-null  float64
 16  Airline_GoAir                                 10683 non-null  float64
 17  Airline_IndiGo                                10683 non-null  float64
 18  Airline_Jet Airways                           10683 non-null  float64
 19  Airline_Jet Airways Business                  10683 non-null  float64
 20  Airline_Multiple carriers                     10683 non-null  float64
 21  Airline_Multiple carriers Premium economy     10683 non-null  float64
 22  Airline_SpiceJet                              10683 non-null  float64
 23  Airline_Trujet                                10683 non-null  float64
 24  Airline_Vistara                               10683 non-null  float64
 25  Airline_Vistara Premium economy               10683 non-null  float64
 26  Source_Banglore                               10683 non-null  float64
 27  Source_Chennai                                10683 non-null  float64
 28  Source_Delhi                                  10683 non-null  float64
 29  Source_Kolkata                                10683 non-null  float64
 30  Source_Mumbai                                 10683 non-null  float64
 31  Additional_Info_1 Long layover                10683 non-null  float64
 32  Additional_Info_1 Short layover               10683 non-null  float64
 33  Additional_Info_2 Long layover                10683 non-null  float64
 34  Additional_Info_Business class                10683 non-null  float64
 35  Additional_Info_Change airports               10683 non-null  float64
 36  Additional_Info_In-flight meal not included   10683 non-null  float64
 37  Additional_Info_No Info                       10683 non-null  float64
 38  Additional_Info_No check-in baggage included  10683 non-null  float64
 39  Additional_Info_No info                       10683 non-null  float64
 40  Additional_Info_Red-eye flight                10683 non-null  float64
 41  Destination_Banglore                          10683 non-null  float64
 42  Destination_Cochin                            10683 non-null  float64
 43  Destination_Delhi                             10683 non-null  float64
 44  Destination_Hyderabad                         10683 non-null  float64
 45  Destination_Kolkata                           10683 non-null  float64
 46  Destination_New Delhi                         10683 non-null  float64
dtypes: float64(34), int64(9), object(4)
memory usage: 3.8+ MB

In [ ]:
# Drop Airline column.
df.drop('Airline',inplace=True,axis=1)

In [ ]:
# Drop Source column.
df.drop('Source',inplace=True,axis=1)

In [ ]:
# Drop Additional_Info column.
df.drop('Additional_Info',inplace=True,axis=1)

In [ ]:
# Drop Destination column.
df.drop('Destination',inplace=True,axis=1)

In [512]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 43 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Duration                                      10683 non-null  float64
 1   Total_Stops                                   10683 non-null  int64
 2   Price                                         10683 non-null  int64
 3   Date                                          10683 non-null  int64
 4   Month                                         10683 non-null  int64
 5   Year                                          10683 non-null  int64
 6   Arrival_hour                                  10683 non-null  int64
 7   Arrival_Minute                                10683 non-null  int64
 8   Departure_hour                                10683 non-null  int64
 9   Departure_minute                              10683 non-null  int64
 10  Airline_Air Asia                              10683 non-null  float64
 11  Airline_Air India                             10683 non-null  float64
 12  Airline_GoAir                                 10683 non-null  float64
 13  Airline_IndiGo                                10683 non-null  float64
 14  Airline_Jet Airways                           10683 non-null  float64
 15  Airline_Jet Airways Business                  10683 non-null  float64
 16  Airline_Multiple carriers                     10683 non-null  float64
 17  Airline_Multiple carriers Premium economy     10683 non-null  float64
 18  Airline_SpiceJet                              10683 non-null  float64
 19  Airline_Trujet                                10683 non-null  float64
 20  Airline_Vistara                               10683 non-null  float64
 21  Airline_Vistara Premium economy               10683 non-null  float64
 22  Source_Banglore                               10683 non-null  float64
 23  Source_Chennai                                10683 non-null  float64
 24  Source_Delhi                                  10683 non-null  float64
 25  Source_Kolkata                                10683 non-null  float64
 26  Source_Mumbai                                 10683 non-null  float64
 27  Additional_Info_1 Long layover                10683 non-null  float64
 28  Additional_Info_1 Short layover               10683 non-null  float64
 29  Additional_Info_2 Long layover                10683 non-null  float64
 30  Additional_Info_Business class                10683 non-null  float64
 31  Additional_Info_Change airports               10683 non-null  float64
 32  Additional_Info_In-flight meal not included   10683 non-null  float64
 33  Additional_Info_No Info                       10683 non-null  float64
 34  Additional_Info_No check-in baggage included  10683 non-null  float64
 35  Additional_Info_No info                       10683 non-null  float64
 36  Additional_Info_Red-eye flight                10683 non-null  float64
 37  Destination_Banglore                          10683 non-null  float64
 38  Destination_Cochin                            10683 non-null  float64
 39  Destination_Delhi                             10683 non-null  float64
 40  Destination_Hyderabad                         10683 non-null  float64
 41  Destination_Kolkata                           10683 non-null  float64
 42  Destination_New Delhi                         10683 non-null  float64
dtypes: float64(34), int64(9)
memory usage: 3.5 MB